.header
    position: relative
    &__top
        &-line
            background-color: #191919
        &-inner
            display: flex
            align-items: center
            justify-content: space-between
            min-height: 40px
        &-box
            display: flex
            align-items: center
            i
                color: $header-icons
                margin: 0 6px 0 0
            span, select
                color: $header-text
                font-size: 16px
                font-weight: 400
                line-height: 27px
                font-variant: small-caps
                letter-spacing: 0.8px
            select
                background-color: transparent
                border: none
                option
                    background-color: #191919
            .entrance
                display: flex
                align-items: center
                &::after
                    content: ''
                    display: inline-block
                    width: 1px
                    height: 20px
                    background-color: #b4b4b4
                    opacity: 0.38
                    margin: 0 15px
        &-link
            margin: 0 10px 0 0

    &__body
        min-height: 800px
        background: url(../img/header_bg.jpg) center center/cover no-repeat

    &__menu
        display: flex
        align-items: center
        justify-content: space-between
        padding: 29px 0 0
        &-hamburger, &-close
            display: none
        &-list
            display: flex
            align-items: center
            font-size: 14px
            font-weight: 700
            text-transform: uppercase
            letter-spacing: 0.7px
            color: #fff
            a
                color: #fff

            i
                margin: 0 28px 0 11px
        &-triggers
            display: flex
            font-size: 16px
            font-weight: 400
            letter-spacing: 1.2px
            a
                display: flex
                align-items: center
                color: #fff
                &::after
                    content: ''
                    display: block
                    width: 1px
                    height: 30px
                    background-color: #b4b4b4
                    opacity: 0.38
                    margin: 0 13px
                &:last-child
                    &::after
                        display: none

    &__slider
        &-item
            margin: 150px 0 0
        &-title
            margin: 29px 0 39px
        &-btn
            display: block
            margin: 0 auto
        &-leftBtn, &-rightBtn
            position: absolute
            top: 45%
            background-color: transparent
            border: none
            color: #fff
            font-size: 42px
            cursor: pointer
            z-index: 10
            padding: 10px
        &-leftBtn
            left: 45px
        &-rightBtn
            right: 45px

    &__author
        margin: 80px auto
        text-align: center
        color: #fff
        &-name
            font-size: 14px
            font-weight: 700
            line-height: 27px
            letter-spacing: 0.7px
        &-date
            opacity: 0.54
            font-size: 12px
            font-weight: 400
            line-height: 27px
            letter-spacing: 0.6px
