.header
    &__top
        &-line
            background-color: #191919
        &-inner
            display: flex
            align-items: center
            justify-content: space-between
            min-height: 40px
        &-box
            display: flex
            i
                color: $header-icons
        &-link
            margin: 0 10px 0 0
